.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 20px;
}

.categories{
    display: flex;
    margin: 40px;
}

#cat1 {
    width: 350px;
    height: 610px;
    background-color: black;
    border-radius: 10px;
}

#cat2 {
    width: 350px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    margin-left: 20px;
}

#cat3 {
    width: 350px;
    height:200px;
    background-color: black;
    border-radius: 10px;
    margin-top: 410px;
    margin-left: -350px;
}

#cat4 {
    width: 350px;
    height:200px;
    background-color: black;
    border-radius: 10px;
    margin-left: 20px;
}

#cat5 {
    width: 350px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    margin-top: 210px;
    margin-left: -350px;
}

.aboutUsMain {
    max-width: 800px; 
    text-align: center; 
    margin: 20px auto;
    font-size: 20px;
}

.aboutUs h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.aboutUs h2 {
    margin-bottom: 20px;
}
.subAboutUs {
    display: flex;
    margin: 20px;
}

.aboutUsText {
    background-color: #ffdaad;
    border-radius: 10px;
    padding: 100px;
    font-size: 20px;
}