@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Judson', sans-serif;
  -ms-overflow-style: none;
  /* For Firefox */
  scrollbar-width: none;
  /* For Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* For Chrome/Safari/Opera */
}

body {
  background-color: #f9f2ea;
  color: #333;
}

.header {
  background-color: #F6CA93;
  padding: 15px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* From Uiverse.io by mask_guy_0 */
.backBtn {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 4px;
  padding: 12px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 20px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.backBtn svg {
  position: absolute;
  width: 24px;
  fill: white;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.backBtn .arr-1 {
  left: 16px;
}

.backBtn .arr-2 {
  right: -25%;
}

.backBtn .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.backBtn .text {
  position: relative;
  z-index: 1;
  transform: translateX(12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.backBtn:hover {
  box-shadow: 0 0 0 12px transparent;
  color: black;
  border-radius: 12px;
}

.backBtn:hover .arr-1 {
  left: -25%;
}

.backBtn:hover .arr-2 {
  right: 16px;
}

.backBtn:hover .text {
  transform: translateX(-12px);
}

.backBtn:hover svg {
  fill: #212121;
}

.backBtn:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px white;
}

.backBtn:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.logo {
  position: relative;
  margin-right: 40px;
}

.hidden {
  display: none;
}

/* Main Content */
.mainContainer {
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  background-color: #F6CA93;
  color: black;
  padding: 40px;
  height: 300px;
  font-size: 20px;

}

.footMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 80px;

}

.footLogo {
  position: relative;
  left: 50px;
}

footer h4 {
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  display: inline-block;
  transition: transform 0.2s;
}

footer a:hover {
  transform: scale(1.2);
}

#contact img {
  margin-right: 10px;
  vertical-align: middle;
}

.footInfo {
  flex: 1;
  width: 25%;
}

.footCopy {
  position: absolute;
  bottom: 20px;
  left: 580px;
}
